/env
/tmp
/logs
*.log
*.csv
*.json
*.sqlite3
*.pyc
__pycache__/
.DS_Store
.vscode/
.idea/
*.env
.venv/
venv/
env/
*.egg-info/
dist/
build/
.ipynb_checkpoints
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.cache/
.pyre/
.pytype/
celerybeat-schedule
instance/
.webassets-cache
.scrapy
docs/_build/
*.pot
*.mo
*.sqlite
*.db
*.bak
*.swp
*.swo
*.orig
*.rej
*.class
*.war
*.jar
*.log
ecommerce_data.py
af_generae_date.py
gcloud_connect.py
main.py